<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amooose.Calorie_Center">

    <supports-screens android:compatibleWidthLimitDp="320" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="adjustResize">
        <activity android:name="com.amooose.Calorie_Center.Help"></activity>
        <activity
            android:name="com.amooose.Calorie_Center.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme"
            android:parentActivityName="com.amooose.Calorie_Center.CaloriesTracker" />
        <activity
            android:name="com.amooose.Calorie_Center.SetupMain"
            android:label="@string/title_activity_setup"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.amooose.Calorie_Center.CaloriesTracker"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>